@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Artículos</h2>
        <div>
            <table id="TablaListado" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered display responsive nowrap" width="100%">
                <thead>
                    <tr>
                        <th width="10%" data-priority="1">ProductID</th>
                        <th width="10%" data-priority="2">Nombre</th>
                        <th width="10%" data-priority="2">UnitPrice</th>
                        <th width="10%" data-priority="3">Supplier</th>
                        <th width="10%" data-priority="4">Category</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            listarProductos();
        });

        var listarProductos = function () {
            $.ajax({
                type: "POST",
                url: '/Product/GetProducts',
                datatype: "json",
                cache: false,
                success: function (data) {
                    console.log(data)
                    var $filas = '';

                    $.each(data, function (i, item) {
                        $filas += '<tr class="odd" role="row">';
                        $filas += '<td class=".edit" title="">' + item.ProductID + '</td>';
                        $filas += '<td class=".edit" title="">' + item.ProductName + '</td>';
                        $filas += '<td class=".edit" title="">' + item.UnitPrice + '</td>';
                        $filas += '<td class=".edit" title="">' + item.category.CategoryName + '</td>';
                        $filas += '<td class=".edit" title="">' + item.supplier.ContactTitle + '</td>';
                        $filas += '</tr>'
                    });
                    $("#TablaListado tbody").html($filas);

                }
            });
        };

    </script>
</div>